// Bootstrap overrides
$font-family-base: "Montserrat";

@import "node_modules/bootstrap/scss/bootstrap";

body {
  padding: 1rem;
  background: #f9f9f9;
}

ul>em {
  padding-left: 2em;
  font-family: "Martian Mono" !important;
}

article {
  max-width: 800px;
  margin: auto;
}

.active {
  text-decoration: underline;
}


.checklist {
  margin: 1rem 0;
}

.checklist-item {
  margin: 0.5rem 0;
}

.checklist-item input[type="checkbox"] {
  margin-right: 0.5rem;
}

/* When .hide-checked is applied, hide items with checked checkboxes */
.hide-checked .checklist-item input[type="checkbox"]:checked ~ label {
  display: none;
}
