<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  {{- partial "head.html" . -}}
  <body>
    <div id="baseContainer" class="container-xl">
      {{- partial "navbar.html" (dict "page" . ) . }}
      <div id="contentContainer">
        <div id="content">
          <main class="d-flex flex-column align-items-center">
            {{- block "main" . }}{{- end }}
          </main>
          {{- partial "footer.html" . -}}
        </div>
      </div>

    </div>
    {{ $js := resources.Get "ts/main.ts" | js.Build }}
    <script src="{{ $js.Permalink }}" defer></script>
    {{- partial "script.html" . -}}
  </body>
</html>
