<!-- Home Button -->
<li class="nav-item">
  <a class="nav-link {{ if eq .CurrentSection.RelPermalink $.RelPermalink }}active{{ end }}" href="{{ .CurrentSection.RelPermalink }}">
        {{ .CurrentSection.Title }} Home
  </a>
</li>

<!-- Child Pages -->
{{ if .Section }}
  {{ range .CurrentSection.Pages }}
    <li class="nav-item">
      <a class="nav-link {{ if eq .RelPermalink $.RelPermalink }}active{{ end }}" href="{{ .RelPermalink }}">
        [ {{ .Title }} ]
      </a>
    </li>
  {{ end }}
{{ else }}
  {{ range .Pages }}
    <li class="nav-item">
      <a class="nav-link {{ if eq .RelPermalink $.RelPermalink }}active{{ end }}" href="{{ .RelPermalink }}">
        [ {{ .Title }} ]
      </a>
    </li>
  {{ end }}
{{ end }}
