{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <!-- Site Title -->
    <a class="navbar-brand" href="/">{{ site.Title }}</a>

    <!-- Button for allowing mobile users to expand/collapse the navbar entirely -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          {{- $mainLabel := "Games"}}
          {{- if not $page.IsHome}}
            {{- $mainLabel = (strings.Replace $page.Section "-" " ") | strings.Title }}
          {{- end }}
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ $mainLabel }}
          </a>
          <ul class="dropdown-menu">
            {{- range . }}
            <li><a class="dropdown-item" href="{{- .URL }}">{{- .Name }}</a></li>
            {{- end }}
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
{{- end }}

