{{ $parsed := partial "extract-title" .Inner }}
{{ $title := $parsed.title }}
{{ $id := $parsed.id }}
{{ $body := $parsed.body }}

{{ $checkable := or (.Get "checkable") false }}

{{ partial "card-header" (dict "id" $id "title" $title "checkable" $checkable) | safeHTML }}

  {{/* For some reason, using a wrapper div for the collapsing thing makes the animation way smoother */}}
  <div id="{{ $id }}-body" class="collapse show">
    <div class="card-body">
    {{ $body | markdownify }}
    </div>
  </div>
</div>
