<div class="d-flex align-items-center flex-wrap gap-3 mb-3">
    <div class="d-flex align-items-center">
        <h2 class="mb-0">
            Total Progress:
        </h2>
        <h2 class="mb-0 ms-2">
            <span id="page-checkbox-counter" class="badge text-bg-danger" />
        </h2>
    </div>
    <div class="d-flex gap-2">
        <button class="btn btn-sm btn-outline-secondary font-monospace" style="min-width: 10em;" id="toggle-checked-btn" onclick="toggleHideChecked()">
            <i class="bi bi-eye-slash"></i> Hide Checked
        </button>
        <button class="btn btn-sm btn-outline-danger font-monospace" onclick="clearAllChecked()">
            <i class="bi bi-x-circle"></i> Clear All
        </button>
    </div>
</div>
