{{ $parsed := partial "extract-title" .Inner }}
{{ $title := $parsed.title }}
{{ $id := $parsed.id }}
{{ $body := $parsed.body }}

{{ if eq $id "" }}
  {{ $id = md5 .Inner }}
{{ end }}

{{ partial "card-header" (dict "id" $id "title" $title "width" "w-100" "progress" true) | safeHTML }}

  <div id="{{ $id }}-body" class="collapse show">
    <div class="card-body">
      {{ $lines := split $body "\n" }}
      {{ $inTable := false }}
      {{ $itemCounter := 0 }}

      {{ range $i, $line := $lines }}
        {{ $trimmedLine := trim $line " " }}

        {{ if hasPrefix $trimmedLine "###" }}
          {{/* If we were in a table, close it before adding the header */}}
          {{ if $inTable }}
            </tbody>
            </table>
            {{ $inTable = false }}
          {{ end }}
          {{/* Render the H3 header as a sub-heading */}}
          <h3 class="d-flex justify-content-center">{{ replaceRE "^###\\s*" "" $trimmedLine }}</h3>
        {{ else if hasPrefix $trimmedLine "|" }}
          {{/* If we are not in a table yet, this must be the table header */}}
          {{ if not $inTable }}
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th style="width: 5%">?</th>
                  {{ $headers := split $trimmedLine "|" }}
                  {{ range $j, $header := $headers }}
                    {{ if and (ne $j 0) (ne $j (sub (len $headers) 1)) }}
                      <th>{{ trim $header " " }}</th>
                    {{ end }}
                  {{ end }}
                </tr>
              </thead>
              <tbody class="table-group-divider">
              {{ $inTable = true }}
          {{ else if (and (not (hasPrefix $trimmedLine "| --")) (not (hasPrefix $trimmedLine "|---"))) }}
            {{/* This is a data row, render it with a checkbox */}}
            {{ $itemCounter = add $itemCounter 1 }}
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="{{ $id }}-checkbox-{{ $itemCounter }}">
                  <label class="form-check-label" for="{{ $id }}-checkbox-{{ $itemCounter }}"></label>
                </div>
              </td>
              {{ $cells := split $trimmedLine "|" }}
              {{ range $j, $cell := $cells }}
                {{ if and (ne $j 0) (ne $j (sub (len $cells) 1)) }}
                  <td>{{ markdownify (trim $cell " ") }}</td>
                {{ end }}
              {{ end }}
            </tr>
          {{ end }}
        {{ end }}
      {{ end }}
      {{/* Close the last table if we were still in one */}}
      {{ if $inTable }}
        </tbody>
        </table>
      {{ end }}
    </div>
  </div>
</div>
